@font-face {
  font-family: Norse-Bold;
  src: url("/fonts/Norse-Bold.otf") format("opentype");
}

:root {
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

.main {
  display: grid;
  grid-template-columns: 40% auto;
  column-gap: 5rem;
  height: 100dvh;
}

.link:link,
.link:visited {
  display: inline-block;
  text-decoration: none;
  color: white;

  transition: all 0.4s;
}

.link:hover,
.link:active {
  color: red;
}

.container-aside {
  position: relative;
  height: 100%;

  .background {
    width: 100%;
    height: auto;
  }

  .container-logo {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    background-color: rgba(0, 0, 0, 0.5);
    padding: 1.5rem 0.5rem;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    .company-name {
      font-family: "Norse-Bold", sans-serif;
      font-size: 10rem;
      color: white;
    }

    img {
      width: 10rem;
    }
  }

  .aside-footer {
    position: absolute;
    bottom: 20px;
    color: white;
    width: 100%;

    font-size: 2rem;

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
  }
}
